* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  padding: 16px 0px;
  display: flex;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.29);
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.ptd {
  display: flex;
  align-items: center;
  margin-left: 39.6px;
  margin-right: 39.6px;
}
.cc1 {
  display: flex;
  width: 222px;
  height: 30px;
  padding: 0px 8px;
}
.cc2 {
  width: 641px;
  height: 40px;
  padding: 0px 8px;
  display: flex;
}

.cc3 {
  display: flex;
  width: 320px;
  height: 44px;
  margin: 0;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
.cc4 {
  position: relative;
  display: flex;
}
.c6 {
  position: absolute;
  top: 0px;
  left: -25px;
  height: 24px;
}

.ff2 {
  height: 24px;
  margin-left: 15px;
}

.space {
  width: 484px;
  height: 40px;

  color: rgb(49, 49, 51);
  cursor: text;
  position: relative;
  padding-left: 50px;
  margin-right: 8px;
  font-size: 16px;
  font-weight: 400;
  font-family: arial;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  border-width: 0.6667px;
  border-style: solid;
  border-color: rgb(163, 163, 166);

  border-radius: 2px;
}

.search-icon {
  position: absolute;
  height: 24px;
  margin: 0px 8px;
  top: 25px;
  left: auto;
}
.option {
  width: 83px;
  height: 40px;
  text-align: center;
  color: white;
  background-color: rgb(246, 139, 30);
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.option2 {
  width: 174px;
  height: 40px;
  color: white;
  background-color: rgb(246, 139, 30);
  font-size: 14px;

  border: none;
  font-weight: 700;
  border-radius: 2px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.option3 {
  width: 174px;
  height: 40px;
  color: #f68b1e;
  font-size: 14px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: white;
  border-color: white;
  border-width: solid;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.option3:hover {
  background-color: rgba(255, 255, 255, 0.836);
  transition: 0.2s;
}
.button:hover {
  color: rgb(246, 139, 30);
  transition: 0.2s;
}
.contd {
  font-size: 16px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.family {
  width: 1263.33px;
  height: 1580px;

  background-color: rgb(241, 241, 242);
}
.outter-space {
  width: 1184px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-wrap: wrap;
  height: 828px;
  padding-top: 16px;
  padding-bottom: 16px;

  margin-left: 39.6px;
  margin-right: 39.6px;
  font-size: 14px;
}
.dimensions {
  width: 1184px;
  height: 40px;
  padding: 8px 8px 16px 8px;
  min-width: 100%;
  max-width: 100%;
  font-size: 12px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.arrow {
  font-size: 12px;

  text-decoration-line: none;
  text-decoration-color: rgb(49, 49, 51);
  text-decoration-style: solid;
  text-wrap: wrap;
  color: rgb(49, 49, 51);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.outter-card {
  width: 872px;
  height: 617px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  min-width: 75%;
  max-width: 75%;
}
.row-card {
  width: 872px;
  height: 590px;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  display: flex;
}
.row-cardb {
  width: 872px;
  height: 207px;
  /* background-color: rgb(255, 255, 255); */
}
.cold-card {
  width: 872px;
  height: 207px;
  margin-top: 16px;
}
.row-jk {
  width: 872px;
  height: 207px;
  background-color: rgb(255, 255, 255);
}
.tnt {
  width: 321px;
  height: 465px;
  padding: 4px 8px;
}
.atnt {
  width: 305px;
  height: 373px;
  padding-top: 4px;
  padding-bottom: 8px;
}
.imgdiv {
  width: 305px;
  padding-top: 305px;
  margin-bottom: 8px;
  position: relative;
}
.slide {
  position: absolute;
  width: 13px;
  height: 13px;
  visibility: hidden;
  overflow-x: visible;
  overflow-y: visible;
}
.dont {
  position: absolute;
  width: 305px;
  height: 305px;
  left: 0;
  top: 0;
  box-sizing: border-box;
}
.pd-img {
  width: 305px;
  height: 305px;
  overflow-x: clip;
  overflow-y: clip;
}
.btnt {
  position: relative;
  width: 305px;
  height: 40px;
  margin-bottom: 8px;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}
.scroll {
  display: flex;
  width: 257px;
  height: 40px;
  margin: auto;
  overflow-x: hidden;
}
.img-pd {
  width: 48px;
  height: 40px;
  display: flex;
  padding: 0px 4px;
}
.fitx {
  width: 40px;
  height: 40px;
}
.fity {
  width: 38px;
  height: 38px;
  overflow-x: clip;
  overflow-y: clip;
}
.dont {
  text-decoration-line: none;
}
.left {
  position: absolute;
  border-style: none;
  border-width: 0px;
  left: 0px;
  top: 10px;
  align-items: flex-start;
  overflow-x: visible;
  overflow-y: visible;
}
.right {
  position: absolute;
  border-style: none;
  border-width: 0px;

  right: 0px;
  top: 10px;
  align-items: flex-start;
  overflow-x: visible;
  overflow-y: visible;
}
.prev {
  height: 24px;
}
.next {
  height: 24px;
}
.tnt2 {
  width: 305px;
  height: 78px;

  padding: 4px 0px;
}
.rule {
  width: 305px;
  height: 1px;

  color: rgb(49, 49, 51);
}
.ctnt {
  width: 305px;
  height: 16px;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.dtnt {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 305px;
  height: 41px;
}
.link {
  width: 25.33px;
  height: 25.33px;
  border-radius: 99px;
  border-width: 0.6667px;
  border-color: rgb(49, 49, 51);
  background-color: rgb(255, 255, 255);
  padding: 2px;
  overflow-x: visible;
  overflow-y: visible;
  cursor: pointer;
}
.link1 {
  width: 25.33px;
  height: 25.33px;
  border-radius: 99px;
  border-width: 0.6667px;
  border-color: rgb(49, 49, 51);
  background-color: rgb(255, 255, 255);
  padding: 2px;
  overflow-x: visible;
  overflow-y: visible;
  margin-left: 8px;
  cursor: pointer;
}
.social {
  width: 16px;
  height: 16px;
}
.cnn {
  width: 535px;
  height: 465px;
}
.cnna {
  width: 535px;
  height: 66px;
  display: flex;
  justify-content: space-between;
}
.inn-cnn {
  width: 484px;
  height: 66px;
}
.hd {
  width: 452px;
  height: 28px;
  display: flex;
}
.trade {
  width: 112px;
  height: 20px;
  font-size: 12px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #f68b1e;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-line: none;
  color: white;
  text-decoration-style: solid;
}
.brnd {
  width: 452px;
  height: 38px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0px;
  font-size: 18px;
  font-weight: 400;
  color: rgb(49, 49, 51);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.dnd {
  text-decoration-line: none;
}
.heart {
  height: 24px;
}
.cnnb {
  width: 535px;
  height: 204px;
}
.ctn1 {
  width: 519px;
  height: 26px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 14px;
}
.extra {
  text-decoration-line: none;
  font-size: 14px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.ctn2 {
  width: 519px;
  height: 122px;
  margin-top: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
}
.rule1 {
  width: 519px;
  height: 1px;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
.bbo {
  width: 519px;
  height: 32px;
  padding: 4px 8px;
  background-color: red;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.bbo1 {
  width: 503px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bob {
  width: 112px;
  height: 20px;
  display: flex;
  align-items: center;
}
.flash {
  height: 16px;
}
.sales {
  font-size: 14px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  padding-left: 8px;
  padding-right: 8px;
}
.bob1 {
  width: 402px;
  height: 18px;
  color: rgb(255, 255, 255);
  align-items: center;
  text-align: right;
}
.c-down {
  font-size: 14px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.brb {
  width: 519px;
  height: 74px;
  padding: 8px;
  border-color: red;
  border-width: 0.667px;
  border-style: solid;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.price-tag {
  padding-right: 4px;
  font-size: 24px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: left;
}
.beep {
  width: 110px;
  height: 29px;
  display: inline-flex;
}
.bop1 {
  font-size: 16px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration-line: line-through;
  color: rgb(117, 117, 122);
  text-decoration-style: solid;
}
.bop2 {
  width: 40px;
  height: 29px;
  margin-left: 8px;
  padding-left: 4px;
  padding-right: 4px;
  align-items: center;
  color: rgb(246, 139, 30);
  background-color: rgb(254, 243, 233);
}
.beep1 {
  width: 501px;
  height: 24px;
  display: flex;
  padding-top: 8px;
}
.bop3 {
  width: 179px;
  height: 16px;
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.ctn3 {
  width: 519px;
  height: 24px;
  padding-bottom: 8px;

  font-size: 12px;
  color: rgb(49, 49, 51);
}
.ctn4 {
  width: 519px;
  height: 26px;
  padding-bottom: 8px;
  display: flex;
}
.hbc {
  width: 106px;
  height: 16px;
  position: relative;
}
.ink {
  width: 78px;
  height: 16px;
  position: absolute;
  left: -3px;
  right: 30px;
  top: 0;
  bottom: 0;
}
.obc {
  font-size: 13px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 4px;
  width: 145px;
  height: 18px;
  padding-left: 4px;
  text-decoration-line: none;
  color: rgb(38, 73, 150);
}
.cnnc {
  width: 535px;
  height: 64px;
}
.tbc {
  width: 527px;
  height: 64px;
  padding: 8px 4px;
}
.tcb {
  width: 519px;
  height: 48px;
  padding: 12px 16px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(246, 139, 30);
  color: rgb(241, 241, 242);
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.tcb:hover {
  background-color: #cd731a;
  transition: 0.2s;
}
.outcb {
  width: 519px;
  height: 48px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.crt {
  position: absolute;
  height: 24px;
}
.cbt {
  font-size: 14px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-right: 24px;
  margin: 0px 179px;
  text-align: center;
}
.cnnd {
  width: 535px;
  height: 146px;
  padding: 8px 8px 0px 8px;
  margin: 0;
}
.nbc {
  width: 519px;
  height: 34px;
  font-size: 14px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
.rule12 {
  position: absolute;
  width: 519px;
  height: 1px;
  margin: 0;
}
.jbc {
  width: 519px;
  height: 104px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.jbl {
  display: flex;
  width: 519px;
  height: 32px;
  padding: 4px 0px;
  text-decoration-line: none;
  color: rgb(38, 73, 150);
  align-items: center;
}
.logs {
  height: 24px;
  margin-right: 8px;
}
.cbn {
  width: 227px;
  height: 34px;
  padding: 8px;
}
.cbnn {
  width: 227px;
  height: 18px;
  font-size: 14px;
  text-decoration-line: none;
  color: rgb(38, 73, 150);
}
.outter-card1 {
  width: 888px;
  height: 890px;
  padding: 8px 0px;
}
.row-card1 {
  width: 872px;
  height: 659px;

  background-color: rgb(255, 255, 255);
}
.tophead {
  width: 871px;
  height: 51px;
  padding: 8px 0px;
}
.tophead1 {
  width: 871px;
  height: 34px;
  padding: 4px 16px;
  font-size: 20px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(49, 49, 51);
}
.specs {
  width: 840px;
  height: 608px;
  margin-left: 16px;
  margin-right: 16px;
  padding: 24px 0px;
}
.mtg {
  font-size: 14px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(68, 71, 70, 0.08);
  color: rgb(31, 31, 31);
  border: 0px;
}
.mtg1 {
  font-size: 14px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(68, 71, 70, 0.08);
  color: rgb(31, 31, 31);
  border: 0px;
  width: 81px;
  height: 15px;
  display: block;
}
.mtn {
  width: 840px;
  height: 186px;
  padding-left: 16px;
  margin: 0;
}
.mtn1 {
  width: 840px;
  height: 149px;
  padding-left: 16px;
  margin: 0;
}
.glo {
  width: 824px;
  height: 37px;
  display: list-item;
}
.glo1 {
  width: 824px;
  height: 18px;
  display: list-item;
}
.mtg2 {
  width: 160px;
  height: 18px;

  font-size: 14px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(68, 71, 70, 0.08);
  color: rgb(31, 31, 31);
  border: 0px;
  display: block;
}
.ad-img {
  width: 118px;
  height: 118px;
  padding: 8px 0px 8px 8px;
  margin: 0px;
  float: left;
}
.ad-link {
  width: 118px;
  height: 118px;
  text-decoration-line: none;
}
.img-prod {
  width: 118px;
  height: 118px;
}

.pbm {
  width: 1263.3px;
  height: 790.38px;
  background-color: #535357;
  padding-bottom: 16px;
  font-size: 12px;
  /* max-width: 100%; */
}
.bgcolor {
  background-color: #313133;
  width: 1263.3px;
  height: 234.38px;
  margin-bottom: 16px;
  font-size: 12px;
  max-width: 100%;
}
.row-pt {
  display: flex;
  margin-left: 39.6px;
  margin-right: 39.6px;
  width: 1184px;
  height: 210px;
  padding-top: 24px;

  flex-basis: auto;
}
.nft {
  padding-left: 8px;
  width: 296px;
  height: 210px;
  padding-right: 8px;
  /* max-width: 25%; */
}
.nft2 {
  display: flex;
  flex-direction: column;
  width: 518px;
  height: 210px;
  /* max-width: 43.75%;
  min-width: 43.75%; */
  padding-left: 8px;
  padding-right: 8px;
}
.nft3 {
  padding-left: 8px;
  width: 296px;
  height: 210px;

  padding-right: 8px;
  margin-left: 74px;
}
.nice {
  color: white;
  font-size: 12px;
}
.indice {
  font-size: 12px;
  padding-bottom: 8px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.form8 {
  padding-top: 8px;
}
.ripple {
  display: flex;
  flex-direction: row;
}
.ripple1 {
  position: relative;
  padding-top: 8px;
}
.mailbox {
  position: absolute;
  top: 22px;
  left: 8px;
  height: 24px;
}
.fill {
  width: 202px;
  height: 48px;
  padding: 14px 16px 14px 48px;
}
.rags {
  display: flex;
  flex-direction: row;

  padding: 8px 0px 8px 4px;
}
.dogs {
  background-color: rgb(0, 0, 0, 0);
  margin: 0px 4px;
  width: 80px;
  height: 47.73px;
  padding: 16px 24px;
  border-color: rgb(255, 255, 255);
  border-width: 0.666667px;
  border-style: solid;
  font-size: 12px;
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
.dogs:hover {
  border-color: #f68b1e;
  color: #f68b1e;
}
.dogs1 {
  background-color: rgb(0, 0, 0, 0);
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 92.8px;
  height: 47.73px;
  padding: 16px 24px;
  border-color: rgb(255, 255, 255);
  border-width: 0.666667px;
  border-style: solid;
  color: white;
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
.dogs1:hover {
  border-color: #f68b1e;
  color: #f68b1e;
}
.noni {
  position: relative;
  padding: 8px 0px 0px 32px;
  font-size: 0px;
}
.tick {
  position: absolute;
  left: 4px;
  top: 12px;
}
.termi {
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #a3a3a6;
  min-height: 24px;
}
.omg {
  margin-bottom: 24px;
  line-height: 16.8px;
}
.here {
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration-line: none;
  color: #f68b1e;
}
.jpg {
  display: flex;
}
.log-jpg {
  height: 40px;
  border-radius: 6px;
}
.nice1 {
  color: white;
  font-size: 12px;
  padding-left: 16px;
}
.chase {
  display: flex;
  padding-top: 8px;
  font-size: 0;
}
.dip {
  height: 22px;
}
.row-bt {
  margin-left: 39.6px;
  margin-right: 39.6px;
  display: flex;
  flex-direction: row;
  width: 1184px;
  height: 362px;
  padding-bottom: 24px;
}
.cols-1 {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 296px;
  height: 338px;
}
.cols-1k {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 296px;
  height: 338px;
}
.cols-1z {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 296px;
  height: 338px;
}
.cols-1p {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 296px;
  height: 338px;
}

.cols-12 {
  display: flex;

  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 255.5px;
  height: 338px;
}
.cols-2 {
  width: 237px;
  height: 42px;
}
.cols-3 {
  width: 712px;
  height: 41px;
}
.spite {
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;

  color: rgb(255, 255, 255);
  padding-bottom: 16px;
}

.chat {
  background-color: rgb(0, 0, 0, 0);
  border-style: none;
  border-width: 0px;
  text-align: left;
  color: white;
  font-size: 13.33px;
  padding-bottom: 4px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.rotten {
  text-align: left;
  list-style: none;
  font-size: 12px;
  width: 221px;
  height: 40px;
  margin: 0;
  padding: 0;
}
.rotten1 {
  width: 72px;
  height: 100px;
  padding: 0px 8px;
  list-style: none;
}

.rot {
  padding-bottom: 4px;
  font-size: 12px;
  color: white;
  text-decoration-line: none;
}
.rota {
  padding-bottom: 4px;
  font-size: 12px;
  color: white;
  text-decoration-line: none;
}
.rotb {
  padding-bottom: 4px;
  font-size: 12px;
  color: white;
  text-decoration-line: none;
}
.rotc {
  padding-bottom: 4px;
  font-size: 12px;
  color: white;
  text-decoration-line: none;
}
.spite1 {
  font-size: 12px;
  width: 231;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 16px;
  padding-bottom: 16px;
  color: white;

  padding-bottom: 16px;
}
.country {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0px 8px;
  list-style: none;
  text-align: left;
  font-size: 12px;

  width: 221px;
  height: 40px;
}
.row-it {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 8px 0px;
}

.row-ct {
  margin-left: 31px;
  margin-right: 31px;
  display: flex;
  flex-direction: row;
}
.join {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 16px;
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: white;
}
.doc {
  padding: 8px;
}

.cold {
  font-size: 0px;
}
.tap {
  height: 26px;
}
.tap:hover {
  fill: #f68b1e;
}
.row-dt {
  margin-left: 31px;
  margin-right: 31px;
  margin-top: 30px;
  padding-top: 15px;
  width: 1184px;
  height: 40px;
}
.line {
  color: white;
  margin-left: 8px;
  margin-right: 8px;
}
.tip {
  display: flex;
  justify-content: center;
}
.tcp {
  height: 20px;
}
.contd {
  font-size: 16px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.outing {
  width: 1184px;
  height: 134px;
  margin-top: 16px;
  min-width: 100%;
  max-width: 100%;

  background-color: rgb(255, 255, 255);
}
.row-card2 {
  width: 1184px;
  height: 150px;
}
.ad-content {
  width: 183px;
  height: 34px;
  display: table;

  padding: 8px 8px 4px 8px;
}
.ad-text {
  text-decoration-line: none;
  color: rgb(49, 49, 51);
  font-size: 17px;

  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.ad-body {
  display: flex;
  width: 1042px;
  height: 16px;
  padding-left: 8px;
  padding-right: 8px;
}
.ad-info {
  text-decoration-line: none;
  color: rgb(49, 49, 51);
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.ad-logo {
  width: 24px;
  height: 24px;
  position: absolute;

  left: 164px;
  padding: 0px 8px;
  top: 870px;
}
.ad-brand {
  width: 45px;
  height: 19px;
  position: absolute;
  padding: 0px 8px;
  left: 195px;
  top: 870px;
}
.logo-img {
  height: 24px;
}
.logo-link1 {
  text-decoration-line: none;
  color: rgb(49, 49, 51);
  font-size: 16px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.ad-buy {
  width: 116px;
  height: 18px;
  position: absolute;
  top: 860px;

  left: 1100px;
  right: 8px;
}
.buy-link {
  text-decoration-line: none;
  width: 61px;
  height: 18px;
}
.btn-ord {
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  background-color: rgb(246, 139, 30);
  color: rgb(255, 255, 255);
  font-size: 14px;
  border: none;
  border-radius: 6px;
}
@media screen and (max-width: 430px) {
  .head {
    width: 100%;
    height: 72px;
    display: flex;

    background-color: white;
    position: fixed;
    z-index: 1;
  }
  .ptd {
    display: flex;
    align-items: center;
    width: 356px;
    height: 35px;
    margin: 0;
  }

  .cc2 {
    position: relative;
    width: 113px;
    height: 13.33px;
    display: flex;
  }
  .cc1 {
    position: relative;
    width: 113px;
    height: 13px;
    display: flex;
    align-items: center;
  }
  .ff2 {
    position: absolute;
    height: 19px;
    top: 5px;
  }
  .cc3 {
    width: 113px;
    height: 13.33px;
    padding: 0;
  }
  .contd {
    display: none;
  }
  .cc4 {
    position: relative;
  }
  .c6 {
    position: absolute;
    top: 0px;
    left: 30px;
  }
  .c00 {
    position: absolute;
    top: 0px;
    left: 89px;
  }
  .cc7 {
    position: absolute;
    top: 0px;
    left: 109px;
  }
  .c-down {
    font-size: 12px;
  }
  .space {
    display: none;
  }
  .search-icon {
    position: absolute;
    height: 25px;
    top: 5px;
    left: 150px;
  }
  .family {
    max-width: 390px;
    height: 1450px;
    margin: auto;
    background-color: rgb(241, 241, 242);
  }
  .outter-space {
    width: 390px;
    height: 500px;

    margin: 0;
    font-size: 14px;
  }
  .cc9 {
    display: none;
  }
  .option {
    display: none;
  }
  .outter-card {
    width: 356px;
    height: 600px;
    padding: 0;
  }
  .tnt {
    width: 356px;
    height: 320px;
  }

  .tnt2 {
    display: none;
  }
  .btnt {
    display: none;
  }
  .cnn {
    width: 356px;
    height: 350px;
  }
  .dnd {
    display: none;
  }
  .cnna {
    width: 350px;
    height: 15px;
  }
  .outing {
    width: 374px;
    height: 150px;
    margin: 0;
    display: none;
  }
  .row-card {
    width: 370px;
    height: 305px;
    flex-direction: column;
    display: flex;
  }
  .inn-cnn {
    width: 325px;
    height: 100px;
  }
  .row-card2 {
    width: 356px;
    height: 280px;
  }
  .ad-body {
    width: 183px;
    height: 15px;
  }
  .ad-buy {
    position: absolute;
    left: 0;
    top: 400px;
  }
  .mtg2 {
    display: none;
  }
  .glo1 {
    display: none;
  }
  .mtg1 {
    display: none;
  }
  .glo {
    display: none;
  }
  .specs {
    width: 356px;
    height: 240px;
    font-size: 12px;
    margin: 0;
  }
  .mtn {
    display: none;
  }
  .mtn1 {
    display: none;
  }
  .row-card1 {
    width: 365px;
    height: 300px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .cnnb {
    width: 356px;
    height: 186px;
  }
  .ctn1 {
    width: 350px;
    height: 10px;
  }
  .ctn2 {
    width: 374px;
    height: 100px;
  }
  .bbo {
    width: 325px;
    height: 25px;
  }
  .bbo1 {
    width: 325px;
    height: 25px;
  }
  .sales {
    font-size: 12px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  .bob {
    width: 233px;
    height: 18px;
  }
  .bob1 {
    width: 244px;
    height: 25px;
  }
  .bop3 {
    width: 250px;
    height: 20px;
  }
  .brb {
    width: 325px;
    height: 50px;
  }
  .hd {
    width: 374px;
    height: 25px;
  }
  .brnd {
    width: 374px;
    height: 25px;
    padding: 0;
    display: none;
  }
  .beep1 {
    width: 356px;
    height: 25px;
    padding: 0;
  }
  .bop3 {
    display: none;
  }
  .cnnc {
    width: 374px;
    height: 30px;
  }
  .tbc {
    width: 356px;
    height: 25px;
  }
  .outcb {
    width: 325px;
    height: 20px;
  }
  .tcb {
    width: 325px;
    height: 40px;
  }
  .cbt {
    font-size: 12px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
  }
  .cnnd {
    width: 390px;
    height: 260px;
  }
  .rule12 {
    width: 325px;
    height: 1px;
  }
  .rule1 {
    width: 325px;
    height: 1px;
  }
  .nbc {
    width: 325px;
    height: 18px;
  }
  .jbc {
    width: 325px;
    height: 180px;
  }
  .jbl {
    width: 325px;
    height: 50px;
  }
  .tophead {
    width: 350px;
  }
  .tophead1 {
    width: 350px;
  }

  .outter-card1 {
    width: 100%;
    height: 350px;
    padding: 0;
  }

  .pbm {
    width: 100%;
    height: 163px;
    padding: 0;
    background-color: #313133;

    bottom: 0;

    font-size: 12px;
  }

  .cols-1 {
    display: flex;
    margin: auto;
    padding: 8px;
    width: 150px;
    height: 112px;
  }
  .cols-1k {
    display: flex;
    margin: auto;
    padding: 8px;
    width: 150px;
    height: 112px;
  }
  .cols-1z {
    display: none;
  }
  .cols-1p {
    display: none;
  }
  .chat {
    display: none;
  }
  .rot {
    display: none;
  }
  .rota,
  .rotb {
    font-size: 14px;
  }

  .spite {
    display: none;
  }
  .spite1 {
    display: none;
  }

  .row-pt {
    display: flex;
    margin: 0;
  }
  .bgcolor {
    display: none;
  }
  .nft {
    display: none;
  }
  .nft2 {
    display: none;
  }
  .form8 {
    display: none;
  }
  .chase {
    display: none;
  }
  .nft3 {
    display: none;
  }
  .row-bt {
    width: 358px;
    height: 109px;
    margin: 0;
    padding: 16px 0px;
  }
  .chat {
    position: absolute;
    align-items: flex-start;
  }
  .row-it {
    display: none;
  }
  .row-ct {
    display: none;
  }
  .row-dt {
    margin-top: 30px;
    padding-top: 15px;
    width: 356px;
    height: 1px;
  }
  .line {
    color: white;
    margin-left: 8px;
    margin-right: 8px;
  }
  .tip {
    display: none;
  }
  .imgdiv {
    width: 305px;
    height: 305px;
  }
  .ctn3 {
    width: 350px;
    height: 40px;
    font-size: 14px;
  }
  .ctn4 {
    width: 350px;
    height: 18px;
  }
}
